.o-nav-bar {

  &__ticket-logo{
    color: #D17E19;
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;

    background-image: -webkit-linear-gradient(
                    top left,
                    rgba(255, 255, 255, 0.2) 0%,
                    rgba(255, 255, 255, 0.2) 37%,
                    rgba(255, 255, 255, 0.8) 45%,
                    rgba(255, 255, 255, 0.0) 50%
    );

    -moz-background-size: 250% 250%, 100% 100%;
    background-size: 250% 250%, 100% 100%;

    -webkit-transition: background-position 0s ease;
    -o-transition: background-position 0s ease;
    transition: background-position 0s ease;
  }

  &__ticket-logo:hover{
    color: #D17E19;
    background-position: 0 0, 0 0;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }

  &__nav-item a.chosen{
    color: #73e9e1;
    border-bottom: 1px solid #73e9e1;
  }

  &__filmstrip {
    --background: rgba(46, 43, 48, 1);
    --size: 8px;
    background-image:
            linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
            linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
            linear-gradient(to right, var(--background) var(--size), transparent var(--size)),
            linear-gradient(to bottom, var(--background) var(--size), transparent var(--size)),
            linear-gradient(to bottom, transparent var(--size), var(--background) var(--size));
    background-size: calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), calc(var(--size) * 2) var(--size), 100% calc(100% - var(--size) * 3);
    background-repeat: repeat-x;
    background-position: 0 var(--size), top left, 0 calc(100% - var(--size)), bottom left, 0 var(--size);
    padding: calc(var(--size) * 3) calc(var(--size) * 2.5);
    box-sizing: border-box;
  }

}



