html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Montserrat', 'Limelight',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  flex: 1 0 auto;
}

h1, h2 {
  font-family: Limelight;
  color: #D17E19;
}

h3, h4, p, small, form, a {
  font-family: Montserrat;
}


/*// Move to variables*/
/*   body {*/
/*     margin: 0;*/
/*     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Montserrat', 'Limelight',*/
/*     sans-serif;*/
/*     -webkit-font-smoothing: antialiased;*/
/*     -moz-osx-font-smoothing: grayscale;*/
/*   }*/

/*.app-code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*  monospace;*/
/*}*/

/*.app-content {*/
/*  flex: 1 0 auto;*/
/*}*/

/*.app-title {*/
/*  font-family: Limelight;*/
/*  color: #D17E19;*/
/*}*/

/*.app-title__small {*/
/*  font-family: Montserrat;*/
/*}*/

